{% extends 'base.html.twig' %}

{% block title %}Create New Event{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('/styles/admin.css') }}">
{% endblock %}

{% block body %}
<div class="admin-dashboard-layout">
    <div id="sidenavAccordion">
        {% include 'back/admin/sidenav.html.twig' %}
    </div>

    <div class="container py-5">
        <h1 class="text-center mb-4">Create New Event</h1>

        <div class="card shadow p-4">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.location) }}
                {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.location) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                    <div class="text-danger">
                        {{ form_errors(form.date) }}
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    {{ form_label(form.time) }}
                    {{ form_widget(form.time, {'attr': {'class': 'form-control'}}) }}
                    <div class="text-danger">
                        {{ form_errors(form.time) }}
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                    <div class="text-danger">
                        {{ form_errors(form.price) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 4}}) }}
                <div class="text-danger">
                    {{ form_errors(form.description) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.photo) }}
                {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.photo) }}
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-success mt-3">Save</button>
                <a href="{{ path('app_event_index') }}" class="btn btn-secondary mt-3 ms-2">Cancel</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
