{% extends 'base.html.twig' %}

{% block title %}
	{{ exercice.title }} - Fitverse
{% endblock %}



{% block javascripts %}
{{ parent() }} 
<script>

const iconMap = {
  "1": "barbell.png",
  "2": "dumbells.png",
  "3": "bodyweight.png",
  "4": "machine.png",
  "5": "medicine-ball.png",
  "6": "kettlebells.png",
  "7": "stretches.png",
  "8": "cables.png",
  "9": "band.png",
  "10": "plate.png",
  "11": "trx.png",
  "12": "yoga.png",
  "13": "bosu-ball.png",
  "14": "vitruvian.png",
  "15": "cardio.png",
  "16": "smith-machine.png",
  "17": "recovery.png",
};



document.addEventListener("DOMContentLoaded",(event)=>{


    

    let equipment = JSON.parse(new DOMParser().parseFromString("{{ exercice.equipment }}", "text/html").documentElement.textContent)
    const targetDiv = document.querySelector(".equipment-icons")

    equipment.forEach(item => {
        let image = document.createElement("img")
        image.src = "/icons/" + iconMap[item]
        image.alt = iconMap[item]
        targetDiv.appendChild(image)

    })
})



</script>

{% endblock %}


{% block stylesheets %} 
{{ parent() }} 
{# Your CSS goes here #}
<style>
    .steps{
        width: max(50lvw,60rem);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .step{
            background: #E8E8E8;
            display: flex;
            flex-direction: row;
            gap:1rem;
            border-radius: 0.875rem;


            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1.5rem;
            }

      
        }

    
        video{
            aspect-ratio: 16/9;
            height: 12rem;
            border-top-right-radius: 0.875rem;
            border-bottom-right-radius: 0.875rem;

        }
    }
    
</style>
{% endblock %}



{% block body %}
{% include 'navbar.html.twig' %} 

<body data-context="exercise">

    <div class="exercise-view">

        <div class="equipment-icons">
            
        </div>



        <div class="header">
            <h1>{{ exercice.title }}</h1>



            <div class="badge text-bg-secondary">
                <span>{{ exercice.difficulty }}</span>

            {% if exercice.difficulty == 'novice' %}
                <span class="material-symbols-outlined">
                    fitness_center
                </span>
                <span class="material-symbols-outlined">
                    signal_cellular_1_bar
                </span>
            {% endif %}

            {% if exercice.difficulty == 'beginner' %}
                <span class="material-symbols-outlined">
                    fitness_center
                </span>
                <span class="material-symbols-outlined">
                    signal_cellular_2_bar
                </span>
            {% endif %}


            {% if exercice.difficulty == 'intermediate' %}
                <span class="material-symbols-outlined">
                    fitness_center
                </span>
                <span class="material-symbols-outlined">
                    signal_cellular_3_bar
                </span>
            {% endif %}


            {% if exercice.difficulty == 'advanced' %}
                <span class="material-symbols-outlined">
                    fitness_center
                </span>
                <span class="material-symbols-outlined">
                    signal_cellular_4_bar
                </span>
            {% endif %}

        </div>


        </div>


        <div class="steps">
            <div class="step">
                <div>
                    <span>#1</span>
                    <p class="step-description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel iste quia minus ipsam aspernatur aliquid pariatur ipsum nulla vero tempore quam, ratione, perspiciatis blanditiis deleniti debitis, exercitationem quo sed. Repellendus.</p>
                </div>

                <video src="https://media.musclewiki.com/media/uploads/videos/unbranded/male-Barbell-barbell-curl-side.mp4" autoplay muted loop></video>
            
            </div>

            <div class="step">
                <div>
                    <span>#1</span>
                    <p class="step-description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel iste quia minus ipsam aspernatur aliquid pariatur ipsum nulla vero tempore quam, ratione, perspiciatis blanditiis deleniti debitis, exercitationem quo sed. Repellendus.</p>
                </div>

                <video src="https://media.musclewiki.com/media/uploads/videos/unbranded/male-Barbell-barbell-curl-side.mp4" autoplay muted loop></video>
            
            </div>
           
        </div>

        <div class="details">

            <div class="muscle-class">
                {% if exercice.m_primary %}
                <span class="badge badge-pill text-bg-success">Primary</span>
                {% endif %}

                {% if exercice.m_secondary %}
                <span class="badge badge-pill text-bg-warning">Secondary</span>
            
                {% endif %}


                {% if exercice.m_tertiary %}
                <span class="badge badge-pill text-bg-danger">Tertiary</span>
                {% endif %}
            </div>




            <table class="general-info">
                <tbody>
                    <tr>
                        <td>Repititon per set</td>
                        <td>{{exercice.reps}}</td>
                    </tr>
                    <tr>
                        <td>Number of sets</td>
                        <td>{{exercice.sets}}</td>
                    </tr>
                    <tr>
                        <td>Grip type</td>
                        <td>{{ exercice.grips  | capitalize }} </td>
                    </tr>
                    <tr>
                        <td>Mechanic</td>
                        <td>
                            {% if exercice.push %}
                            <span class="badge badge-pill text-bg-dark">Push</span>
                            {% endif %}

                            {% if exercice.pull %}
                            <span class="badge badge-pill text-bg-dark">Pull</span>
                            {% endif %}

                            
                        </td>
                    </tr>
                </tbody>
                
            </table>

        </div>




    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exercice.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ exercice.title }}</td>
            </tr>
            <tr>
                <th>Steps</th>
                <td>{{ exercice.steps }}</td>
            </tr>
            <tr>
                <th>Sets</th>
                <td>{{ exercice.sets }}</td>
            </tr>
            <tr>
                <th>Reps</th>
                <td>{{ exercice.reps }}</td>
            </tr>
            <tr>
                <th>Grips</th>
                <td>{{ exercice.grips }}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{ exercice.difficulty }}</td>
            </tr>
            <tr>
                <th>Body_map_front</th>
                <td>{{ exercice.bodyMapFront }}</td>
            </tr>
            <tr>
                <th>Body_map_back</th>
                <td>{{ exercice.bodyMapBack }}</td>
            </tr>
            <tr>
                <th>Video_url</th>
                <td>{{ exercice.videoUrl }}</td>
            </tr>
            <tr>
                <th>M_primary</th>
                <td>{{ exercice.mPrimary ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>M_secondary</th>
                <td>{{ exercice.mSecondary ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>M_tertiary</th>
                <td>{{ exercice.mTertiary ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Equipment</th>
                <td>{{ exercice.equipment }}</td>
            </tr>
            <tr>
                <th>Push</th>
                <td>{{ exercice.push ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Pull</th>
                <td>{{ exercice.pull ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_index') }}">Browse Exercises</a>

    
</body>

{% endblock %}






