{% extends 'base.html.twig' %}

{% block title %}View Discount{% endblock %}
{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block body %}
{% include 'navbar.html.twig' %}

<div class="container py-5">
    <h1 class="mb-4 text-center">Discount Details</h1>

    <div class="card shadow p-4">
        <h4>Product: {{ product_discount.product.name }}</h4>
        <p><strong>Discount: </strong>{{ product_discount.discountPercentage }} %</p>
        <p><strong>Valid From: </strong>{{ product_discount.validFrom ? product_discount.validFrom|date('Y-m-d') : '-' }}</p>
        <p><strong>Valid Until: </strong>{{ product_discount.validUntil ? product_discount.validUntil|date('Y-m-d') : '-' }}</p>
        
        <div class="mt-4">
            <a href="{{ path('app_product_discount_edit', {'id': product_discount.id}) }}" class="btn btn-warning mr-2">Edit</a>
            <a href="{{ path('app_product_discount_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
