{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}
{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block body %}
{% include 'navbar-admin.html.twig' %}

<div class="container py-5">

    <h1 class="mb-4 text-center">Edit Product</h1>

    <div class="card shadow p-4">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.brand) }}
            {{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.brand) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.price) }}
        </div>

        <div class="form-group">
            {{ form_label(form.stock) }}
            {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.stock) }}
        </div>

        <div class="form-group">
            {{ form_label(form.imageUrl) }}
            {{ form_widget(form.imageUrl, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.imageUrl) }}
        </div>

        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.category) }}
        </div>

        <div class="text-center">
            <button class="btn btn-warning mt-3">Update</button>
            <a href="{{ path('app_product_index') }}" class="btn btn-secondary mt-3 ml-2">Cancel</a>
        </div>

        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
