{% extends 'base.html.twig' %}

{% block title %}Admin - Products{% endblock %}
{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block body %}
{% include 'navbar-admin.html.twig' %}

<div class="container py-5">

    <h1 class="mb-4">Manage Products</h1>

    <div class="mb-3">
        <a href="{{ path('app_product_new') }}" class="btn btn-success">+ Create New Product</a>
    </div>

        <table class="table table-striped text-center align-middle">
            <thead class="thead-dark">
                <tr>
                    <th>Actions</th>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Price (TND)</th>
                    <th>Stock</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-sm btn-primary mr-1">View</a>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-sm btn-warning mr-1">Edit</a>
                        {{ include('Back/Shop/product/_delete_form.html.twig') }}

                    </td>
                    <td>{{ product.id }}</td>
                    <td><img src="{{ product.imageUrl }}" class="card-img-top " style="height: 100px; object-fit: contain;"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.price|number_format(2) }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{% if product.category %}
                          {{ product.category.name }}
                        {% else %}
                          <span class="text-muted">No Category</span>
                        {% endif %}</td>                   
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-muted">No products found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</div>

{% endblock %}
