{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block javascripts %}
{{ parent() }} 
{# Your javascript goes here #}
<script>
   
</script>

{% endblock %}


{% block stylesheets %}
{{ parent() }} 
{# Your CSS goes here #}
<style>

</style>
{% endblock %}



{% block body %}
{% include 'navbar.html.twig' %} 

<body data-context="shop">
{# data-context value should be one of the values "exercise","gym","events","shop","nutrition" or "user" depending on your module  #}
 <h1>Category </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Create new</a>


</body>

{% endblock %}