{% extends 'base.html.twig' %}

{% block title %}Coupons{% endblock %}

{% block javascripts %}
{{ parent() }} 
{# Your javascript goes here #}
<script>
   
</script>

{% endblock %}


{% block stylesheets %}
{{ parent() }} 
{# Your CSS goes here #}
<style>

</style>
{% endblock %}



{% block body %}
{% include 'navbar.html.twig' %} 

<body data-context="shop">
{# data-context value should be one of the values "exercise","gym","events","shop","nutrition" or "user" depending on your module  #}
 <h1>Coupons</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Discount_percentage</th>
                <th>Min_order_amount</th>
                <th>Valid_from</th>
                <th>Valid_until</th>
                <th>Is_active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coupon in coupons %}
            <tr>
                <td>{{ coupon.id }}</td>
                <td>{{ coupon.code }}</td>
                <td>{{ coupon.discountPercentage }}</td>
                <td>{{ coupon.minOrderAmount }}</td>
                <td>{{ coupon.validFrom ? coupon.validFrom|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ coupon.validUntil ? coupon.validUntil|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ coupon.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_coupon_show', {'id': coupon.id}) }}">show</a>
                    <a href="{{ path('app_coupon_edit', {'id': coupon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coupon_new') }}">Create new</a>
</body>

{% endblock %}