<style>
*{
  transition : all .33s ease;
}

</style>

<aside>
  <img src="/fitverse-white.png" alt="The Fitverse logo" class="logo">

  <ul>

    <li>
      <a class="">
        <img src="{{ asset('images/landing/dashboard.png') }}" alt="User icon">
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a class="" data-bs-toggle="collapse" href="#collapseUser" role="button" aria-expanded="false" aria-controls="collapseUser">
        <img src="{{ asset('images/landing/user.png') }}" alt="User icon">
        <span>User Management</span>
      </a>
      <ul class="collapse" id="collapseUser">
        <li><a class="" href="{{path('app_user_index')}}">Users database</a></li>
                <li><a class="" href="{{path('app_user_stats')}}">Role statistics</a></li>
        <li><a class="" href="{{path('app_admin_reclamation_index')}}">Complaint management</a></li>
      </ul>
    </li>

    <li>
      <a class="" data-bs-toggle="collapse" href="#collapseExercise" role="button" aria-expanded="false" aria-controls="collapseExercise">
        <img src="{{ asset('images/landing/exercice.png') }}" alt="Exercise icon">
        <span>Exercise Management</span>
      </a>
      <ul class="collapse" id="collapseExercise">

                <li><a class="" href="{{path('app_exercice_index_admin')}}">Exercises database</a></li>
                <li><a class="" href="{{path('app_workout_index_admin')}}">Workouts database</a></li>
                <li><a class="" href="{{path('app_exercice_new')}}">Create a new exercise</a></li>
                <li><a class="" href="{{path('app_workout_new')}}">Create a new workout</a></li>




      </ul>
    </li>

    <li>
      <a class="" data-bs-toggle="collapse" href="#collapseGym" role="button" aria-expanded="false" aria-controls="collapseGym">
        <img src="{{ asset('images/landing/gyms.png') }}" alt="Workout icon">
        <span>Gym Management</span>
      </a>
      <ul class="collapse" id="collapseGym">
        <li><a class="" href="{{ path('app_gym_index') }}">Manage gyms</a></li>
        <li><a class="" href="{{ path('app_gym_stats') }}">Gym stats</a></li>

        
      </ul>
      
    </li>

    <li>
      <a class="" data-bs-toggle="collapse" href="#collapseEvents" role="button" aria-expanded="false" aria-controls="collapseEvents">
        <img src="{{ asset('images/landing/events.png') }}" alt="Events icon">
        <span>Events Management</span>
      </a>
      <ul class="collapse" id="collapseEvents">
        <li><a class="" href="{{ path('app_event_new') }}">Create a new event</a></li>
        <li><a class="" href="{{ path('app_event_index') }}">Manage events</a></li>
      </ul>
    </li>

    <li>
      <a class="" data-bs-toggle="collapse" href="#collapseMarketplace" role="button" aria-expanded="false" aria-controls="collapseMarketplace">
        <img src="{{ asset('images/landing/shop.png') }}" alt="Marketplace icon">
        <span>Marketplace Management</span>
      </a>
      <ul class="collapse" id="collapseMarketplace">
        <li><a href="{{ path('app_product_index')}}">Manage products</a></li>
				<li><a href="{{ path('app_category_index')}}">Manage categories</a></li>
				<li><a href="{{ path('app_coupon_index')}}">Manage coupons</a></li>
				<li><a href="{{ path('app_product_discount_index')}}">Manage discounts</a></li>
				<li><a href="{{ path('app_order_index')}}">Manage orders</a></li>
				<li><a href="{{ path('admin_wishlist_index')}}">Manage wishlists</a></li>
      </ul>
    </li>

      <li>
      <a class="" data-bs-toggle="collapse" href="#collapseNutrition" role="button" aria-expanded="false" aria-controls="collapseNutrition">
        <img src="{{ asset('images/landing/nutrition.png') }}" alt="Nutrition icon">
        <span>Nutrition Management</span>
      </a>
      <ul class="collapse" id="collapseNutrition">
	      <li><a href="{{ path('app_food_index')}}">Manage food</a></li>
				<li><a href="{{ path('app_admin_recipe_index')}}">Manage recipes</a></li>
      </ul>

      	<li><a href="{{ path('app_food_index')}}">Manage food</a></li>
    </li>
  </ul>

  <div class="aside-bottom">
    <span class="material-symbols-outlined">shield_person</span>
    <span>Testeur Tounsi</span>
    <a href="/logout" class="">
      <span class="material-symbols-outlined">logout</span>
    </a>
  </div>
</aside>
