<aside>
  <img src="/fitverse-white.png" alt="The Fitverse logo" class="logo">

  <ul>

    <li>
      <a class="btn text-white">
        <img src="{{ asset('images/landing/dashboard.png') }}" alt="User icon">
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a class="btn text-white" data-bs-toggle="collapse" href="#collapseUser" role="button" aria-expanded="false" aria-controls="collapseUser">
        <img src="{{ asset('images/landing/user.png') }}" alt="User icon">
        <span>User Management</span>
      </a>
      <ul class="collapse" id="collapseUser">
        <li><a class="btn text-white" href="/admin/user/add">Create a new user</a></li>
        <li><a class="btn text-white" href="/admin/user/">Manage users</a></li>
        <li><a class="btn text-white" href="/admin/preferences/">Edit default preferences</a></li>
      </ul>
    </li>

    <li>
      <a class="btn text-white" data-bs-toggle="collapse" href="#collapseExercise" role="button" aria-expanded="false" aria-controls="collapseExercise">
        <img src="{{ asset('images/landing/exercice.png') }}" alt="Exercise icon">
        <span>Exercise Management</span>
      </a>
      <ul class="collapse" id="collapseExercise">
        <li><a class="btn text-white" href="/admin/exercise/add">Add exercise</a></li>
        <li><a class="btn text-white" href="/admin/exercise/">Manage exercises</a></li>
        <li><a class="btn text-white" href="/admin/workout/add">Add new workout</a></li>
      </ul>
    </li>

    <li>
      <a class="btn text-white" data-bs-toggle="collapse" href="#collapseGym" role="button" aria-expanded="false" aria-controls="collapseGym">
        <img src="{{ asset('images/landing/gyms.png') }}" alt="Workout icon">
        <span>Gym Management</span>
      </a>
      <ul class="collapse" id="collapseGym">
        <li><a class="btn text-white" href="/admin/gym/add">Add a gym</a></li>
        <li><a class="btn text-white" href="/admin/gym/">Manage gyms</a></li>
      </ul>
    </li>

    <li>
      <a class="btn text-white" data-bs-toggle="collapse" href="#collapseEvents" role="button" aria-expanded="false" aria-controls="collapseEvents">
        <img src="{{ asset('images/landing/events.png') }}" alt="Events icon">
        <span>Events Management</span>
      </a>
      <ul class="collapse" id="collapseEvents">
        <li><a class="btn text-white" href="/admin/event/add">Create a new event</a></li>
        <li><a class="btn text-white" href="/admin/events/">Manage events</a></li>
      </ul>
    </li>

    <li>
      <a class="btn text-white" data-bs-toggle="collapse" href="#collapseMarketplace" role="button" aria-expanded="false" aria-controls="collapseMarketplace">
        <img src="{{ asset('images/landing/shop.png') }}" alt="Marketplace icon">
        <span>Marketplace Management</span>
      </a>
      <ul class="collapse" id="collapseMarketplace">
        <li><a class="btn text-white" href="/admin/shop/product/add">Add a new product listing</a></li>
        <li><a class="btn text-white" href="/admin/shop/product/">Manage products</a></li>
        <li><a class="btn text-white" href="/admin/shop/category/add">Create a new category</a></li>
        <li><a class="btn text-white" href="/admin/shop/category/">Manage categories</a></li>
      </ul>
    </li>
  </ul>

  <div class="aside-bottom">
    <span class="material-symbols-outlined">shield_person</span>
    <span>Testeur Tounsi</span>
    <a href="/logout" class="btn text-white">
      <span class="material-symbols-outlined">logout</span>
    </a>
  </div>
</aside>
