{% import 'macros/form_errors.html.twig' as formErrors %}
{% extends 'base.html.twig' %}

{% block title %}Create New Coupon{% endblock %}
{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block body %}
{% include 'navbar-admin.html.twig' %}

<div class="container py-5">
    <h1 class="mb-4 text-center">Add New Coupon</h1>

    <div class="card shadow p-4">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="form-group">
            {{ form_label(form.code) }}
            {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
            {{ formErrors.display_errors(form.code) }}
        </div>

        <div class="form-group">
            {{ form_label(form.discount_percentage) }}
            {{ form_widget(form.discount_percentage, {'attr': {'class': 'form-control'}}) }}
            {{ formErrors.display_errors(form.discount_percentage) }}
        </div>

        <div class="form-group">
            {{ form_label(form.valid_from) }}
            {{ form_widget(form.valid_from, {'attr': {'class': 'form-control'}}) }}
            {{ formErrors.display_errors(form.valid_from) }}
        </div>

        <div class="form-group">
            {{ form_label(form.valid_until) }}
            {{ form_widget(form.valid_until, {'attr': {'class': 'form-control'}}) }}
            {{ formErrors.display_errors(form.valid_until) }}
        </div>

        <div class="form-group">
            {{ form_label(form.is_active) }}
            {{ form_widget(form.is_active, {'attr': {'class': 'form-check-input ml-2'}}) }}
            {{ formErrors.display_errors(form.is_active) }}
        </div>

        <div class="form-group">
            {{ form_label(form.min_order_amount) }}
            {{ form_widget(form.min_order_amount, {'attr': {'class': 'form-control'}}) }}
            {{ formErrors.display_errors(form.min_order_amount) }}
        </div>

        <div class="text-center">
            <button class="btn btn-success mt-3">Save</button>
            <a href="{{ path('app_coupon_index') }}" class="btn btn-secondary mt-3 ml-2">Cancel</a>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
