{% extends 'base.html.twig' %}

{% block title %}Create New Category{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}

<div class="container py-5">

    <h1 class="mb-4 text-center">Add New Category</h1>

    <div class="card shadow p-4">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="text-center">
            <button class="btn btn-success mt-3">Save</button>
            <a href="{{ path('app_category_index') }}" class="btn btn-secondary mt-3 ml-2">Cancel</a>
        </div>

        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
