{% extends 'base.html.twig' %}

{% block title %}Détails de l'abonnement{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div class="container py-5" style="max-width: 800px;">
        <h1 class="text-center text-white mb-4">Détails de l'abonnement</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="bg-dark p-4 mb-4 rounded text-white">
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form_label(form.start_date, 'Date de début') }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.start_date, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form_label(form.end_date, 'Date de fin') }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.end_date, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form_label(form.price, 'Prix') }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form_label(form.coaching, 'Coaching') }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.coaching, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form_label(form.status, 'Statut') }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form_label(form.user, 'Utilisateur') }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form_label(form.gym, 'Salle de sport') }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.gym, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_membership_index') }}" class="btn btn-info">Retour</a>
            <a href="{{ path('app_membership_edit', {'id': membership.id}) }}" class="btn btn-warning">Modifier</a>
            {{ include('membership/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
