{% extends 'base.html.twig' %}
<<<<<<< HEAD
{% block title %}Wishlist{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container py-5">
    <h1 class="mb-4">Wishlist</h1>

    <table class="table table-striped text-center align-middle">
        <thead>
            <tr>
                <th>User</th>
                <th>Product</th>
                <th>Added At</th>
            </tr>
        </thead>
        <tbody>
        {% set lastUserId = null %}
        {% for wishlist in wishlists %}
            <tr>
                <td>
                    {% if lastUserId != wishlist.user.id %}
                        {{ wishlist.user.firstName ~ ' ' ~ wishlist.user.lastName }}
                        {% set lastUserId = wishlist.user.id %}
                    {% endif %}
                </td>
                <td>{{ wishlist.product.name }}</td>
                <td>{{ wishlist.addedAt|date('Y-m-d H:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
=======

{% block title %}Wishlist{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('/styles/admin.css') }}">
{% endblock %}

{% block body %}
<div class="admin-dashboard-layout">
    <div id="sidenavAccordion">
        {% include 'back/admin/sidenav.html.twig' %}
    </div>

    <div class="container py-5">
        <h1 class="mb-4">Wishlist</h1>

        <table class="table table-striped text-center align-middle">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Product</th>
                    <th>Added At</th>
                </tr>
            </thead>
            <tbody>
                {% set lastUserId = null %}
                {% for wishlist in wishlists %}
                    <tr>
                        <td>
                            {% if lastUserId != wishlist.user.id %}
                                {{ wishlist.user.firstName ~ ' ' ~ wishlist.user.lastName }}
                                {% set lastUserId = wishlist.user.id %}
                            {% endif %}
                        </td>
                        <td>{{ wishlist.product.name }}</td>
                        <td>{{ wishlist.addedAt|date('Y-m-d H:i') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-muted">No wishlist entries found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
>>>>>>> shop
