{% extends 'base.html.twig' %}

{% block title %}FIRVERSE Authentification
{% endblock %}


{% block javascripts %}
{{ parent() }}

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('/styles/login.css')}}">

<style>


	body{
		overflow:hidden;
	}

.auth{
	ul{
		list-style-type:none;
	}
	ul > li >  a {
		all:unset;
		cursor:pointer;
		display:grid;
		grid-template-columns: 2rem auto;
		align-items:center;
	}
}


.auth-container{
	    z-index: 9;
		background:#ffffffdb;
		

}


.login-enhance{
	position:absolute;
	left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	width:100lvw;
	margin-top:1rem;

}


video{
	position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 16 / 9;
    width: 100lvw;
}

	</style>
{% endblock %}

{% block body %}




	<video src="/teaser.mp4" autoplay muted></video>
	<div></div>		


	<div class="auth" data-controller="auth">

		<div class="mt-5 auth-container shadow p-3 mb-5">
			<div class="branding">
				<img src="{{asset('images/landing/fitverse-logo.png')}}" alt="Fitverse logo">
				<p>Enter your credentials to continue.</p>

				<ul>

				<li><a href="{{ path('app_forgot_password') }}" ><i class="fa-solid fa-users"></i> Join fitverse </a></	li>
				<li><a href="{{ path('app_forgot_password') }}" ><i class="fa-solid fa-key"></i>  Forgot password </a></li>

				</ul>

                
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
			</div>

			<div>


				<div
					class="tab-content mt-3 bg-body rounded ">
					<!-- Login Form -->
					<div>
						<form method="post" id="loginForm">
							<div class="mb-3">
								<label for="loginEmail" class="form-label">Email</label>
								<input name="_username" type="email" class="form-control" id="loginEmail" v-model="login.email" required autofocus>
							</div>
							<div class="mb-3">
								<label for="loginPassword" class="form-label">Password</label>
								<input name="_password" type="password" class="form-control" id="loginPassword" v-model="login.password" required>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


							<div class="login-enhance">
								<button type="submit" class="btn btn-fitverse">Login</button>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>



		<!-- This part is for showing errors -->

		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						...
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>


	</div>



{% endblock %}
